extends layout.pug

include utils.pug

block content

  //- Nav Bar for user information and logout
  div(class='nav-container')

    //- Display message to user if they are logged in
    div(id='welcome__user')
      if locals.authenticated
        span=`Welcome ${user.firstName}`
        span You have the current tasks!
      else
        span Login New Beaver!
        span You have no tasks to be done!

    //- Display of how many task are done.
    div(id='current__tasks')
      a(class='nav-link active' href='#')=`${navBarTasks.inProgress} In progress`
      a(class='nav-link' href='#')=`${navBarTasks.dueToday} Due Today`
      a(class='nav-link' href='#')=`${navBarTasks.completed} Completed`

    //- If logged in display button to logout
    if locals.authenticated
      div(id='logout__button')
        form(action='/logout' method='post')
          button(type='submit') Logout

  //- Where all our project names is at
  div(class='home__display')
    div(class='project__list__div')
      div(class='project__add')
        p New project
        button(id='project__add__button')
          i(class='fa-solid fa-folder-plus')
      div(class='project__list')

        //- Example if not logged in
        if !locals.authenticated
          div(class='project__link')

            a(href="#")=`Project name Example`
        //- Actual list
        else
          each project in projects
            div(class='project__link' id=`project__link__div__${project.id}`)
              a(class=`project__list__name` id=`project__link__${project.id}`)=`${project.projectName}`
              span
                button(class=`delete__project` id=`delete__project__${project.id}`)
                  i(class='fa-solid fa-trash-can' id=`trash__icon__${project.id}`)


    //- ADD PROJECT FORM
    +errorsSummary()
    form(class="hidden" id="addProject")
      input(type='hidden' name='_csrf' value=csrfToken id="csurfId")
      +form("Project Name:", "projectNameAdd", "", "text")
      +form("Description:", "descriptionAdd", "", "text")
      +form("Due Date:", "dueDateAdd", "", "date")
      +form("Url:", "urlAdd", "", "text")
      label(for="projectType") Project Type:
      select(name="projectType" id="projectTypeAdd")
        option(value="personal") Personal
        option(value="groceries") Groceries
        option(value="project") Project
        option(value="company") Company
      button(type="submit" id="confirm__project__button") Confirm
      button(type="click" id="cancel-add__project__button") Cancel

    //- Entire project dashboard
    div(class='project__board')
      //- project__header__unhidden
      //- Project dashboard header
      div(class="project__header" id="")
      each project in projects
        div(class='project__header' class='hidden' id=`project__header__${project.id}`)
          div(class='project__buttons')
            div(class='project__edit__buttons')
              span
                button(class='edit__form' id=`edit__form__${project.id}`)
                  i(class='fa-solid fa-pen-to-square')
              span
                button(class='delete__button' id=`delete__button__${project.id}`)
                  i(class='fa-solid fa-trash-can')
              span
                button(class='add__contact__button' id=`add__contact__button__${project.id}`)
                  i(class='fa-solid fa-address-card')
            span(id=`project__header__display__${project.id}`) #{project.projectName}
            span(id='search__span')
              input(type='text' id='search__input' class='hidden')
              button(id='search__button')
                i(class='fa-solid fa-magnifying-glass')
        div(id=`hidden__edit__form__div__${project.id}`)
          form(action=`/api/projects/${project.id}` method="PUT" class=`hidden hidden__edit__form` )
            input(type="hidden" name="_csrf" value=csrfToken)
            +hiddenForm("Project Name:", "projectName", "", "text", `hidden__form__input__${project.id}` )
            +hiddenForm("Description:", "description", "", "text", `hidden__form__input__${project.id}`)
            +hiddenForm("Due Date:", "dueDate", "", "date", `hidden__form__input__${project.id}`)
            +hiddenForm("Url:", "url", "", "text", `hidden__form__input__${project.id}`)
            select(name="projectType" class=`hidden__form__input__${project.id}`)
              option(value="personal") Personal
              option(value="groceries") Groceries
              option(value="project") Project
              option(value="company") Company
            button(type="submit" class="edit__project__button") Edit
            button(type="click" id="cancel__edit__Project__Button") Cancel
        each task in project.Tasks
          div(class='project__task__container' id=`task__container__${task.id}`)
            div(class='task__title' id=`task__title__${task.id}`)=`${task.taskTitle}`
            div(class='task__tag')
              span(class="badge bg-urgent" id=`task__tag__${task.id}`)=task.tag
            div(class='project__task')
              div(class='task__description' id=`task__description__${task.id}`)=task.description
              if(task.dueDate)
                div(class= 'task__dueDate' id=`task__dueDate__${task.id}`) #{task.dueDate.toLocaleDateString()}


      //- Project dashboard main which displays tasks under a project
      //- Example task layout if not logged in
      if !locals.authenticated
        div(class="project__main")
          div(class='project__task__container')
            div(class='task__title') Task Title 1 Example
            div(class='task__tag')
              span(class="badge bg-urgent") Urgent
            div(class='project__task' class='')
              div(class='task__description') Task Description
              div(class= 'task__dueDate') date
      //- Actual task list
      else
        //- div(class="project__main")
        //-   each task in tasks
        //-     div(class='project__task__container' id=`task__container__${task.id}`)
        //-       div(class='task__title' id=`task__title__${task.id}`)=`${task.taskTitle}`
        //-       div(class='task__tag')
        //-         span(class="badge bg-urgent" id=`task__tag__${task.id}`)=task.tag
        //-       div(class='project__task')
        //-         div(class='task__description' id=`task__description__${task.id}`)=task.description
        //-         if(task.dueDate)
        //-           div(class= 'task__dueDate' id=`task__dueDate__${task.id}`) #{task.dueDate.toLocaleDateString()}




    //- Modal popup if not signed in
    if !locals.authenticated
      div(class='modal' id='modal')
        //- DEMO BUTTON
        div(class='modal__forms')
          div(class='modal__header')
            h1 TEST
          +errorsSummary(errors)
          //- Login form
          form(action='/login' method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            +form('Email Address','email','','email','email@email.com')
            +form('Password', 'hashedPassword', '', 'password')
            button(type='submit' class='button-class' id='Login') Login
          //- DEMO FORM
          form(action="/login" method="POST")
            input(type='hidden' name='_csrf' value=csrfToken)
            +form('','email','demo@taskbeaver.com', 'hidden')
            +form('', 'hashedPassword','Test!ing123', 'hidden')
            button(type="submit" id="demo__Login__Button") Demo User
          div
          //- Sign-up form
          div(class='modal_sign_up')
            +errorsSummary(errorArray)
            form(action="/sign-up" method="POST")
              input(type="hidden" name="_csrf" value=csrfToken)
              +form("First Name", "firstName", '', "text")
              +form("Last Name", "lastName", '', "text")
              +form("Email", "email", '', "email")
              +form("Password", "hashedPassword", '', "password")
              +form("Confirm Password", "confirmPassword", "", "password")
              div
                  button(type="submit" class="button-class" id=`Sign-up`) Become a Beaver
