mixin form(label, fieldName, fieldValue, fieldType = 'text', className, placeHolder)
    div(class=`div__${className}`)
        label(for=fieldName)= label
        if fieldType === "textarea"
            textarea(name=fieldName, id=fieldName, rows="10")
        else
            input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, class=className, placeHolder=placeHolder)

mixin errorsSummary(errors)
    if errors
        div(role="alert")
            p The Following Errors Occured
            ul
                each error in errors
                    li= error

mixin hiddenForm(label, fieldName, fieldValue, fieldType = 'text', className, placeholder = null)
    div
        label(for=fieldName)= label
        if fieldType === "textarea"
            textarea(name=fieldName, id=fieldName, rows="10")
        else
            input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, class=className, placeholder=placeholder)
